In [1]:
import pandas as pd
import numpy as np 
df=pd.read_csv('bollywood.csv')
df.head()
df.shape
df.columns

Index(['SlNo', 'Release Date', 'MovieName', 'ReleaseTime', 'Genre', 'Budget',
       'BoxOfficeCollection', 'YoutubeViews', 'YoutubeLikes',
       'YoutubeDislikes'],
      dtype='object')

In [2]:
df['MovieName'].sort_values(ascending=True).head(10)
df['YoutubeViews'].sort_values(ascending=False).head(10)

119    23171067
43     18986221
92     15889811
28     13798789
91     13279636
89     13270623
137     8788913
0       8576361
78      8287587
138     7968156
Name: YoutubeViews, dtype: int64

In [3]:
df['Genre'].value_counts()

Genre
Comedy       36
 Drama       35
Thriller     26
Romance      25
Action       21
Thriller      3
Action        3
Name: count, dtype: int64

In [4]:
print(df['Genre'].nunique())

7

In [5]:
r1=df[df['Genre']=='Romance']
r1[['MovieName']].head()

       MovieName
0       2 States
11        Inkaar
12    Ek Villain
24  Happy Ending
32     Heropanti

In [6]:
r2=df[(df['Genre']=='Comedy')&(df['YoutubeLikes']>500)]
r2[['MovieName']].head()

                    MovieName
2          Amit Sahni Ki List
4                Bobby Jasoos
6               Daawat-E-Ishq
7  Matru Ki Bijlee Ka Mandola
8                Dedh Ishqiya

In [7]:
r3=df.query('YoutubeViews>50000')
r3[['MovieName']].head()

            MovieName
0            2 States
1        Table No. 21
2  Amit Sahni Ki List
4        Bobby Jasoos
5          Citylights

In [8]:
r4=df.groupby('Genre')['BoxOfficeCollection'].mean()
r4.sort_values(ascending=True).head()

Genre
Action        7.366667
Thriller     24.326923
Comedy       46.115000
Romance      52.841200
Thriller     59.216667
Name: BoxOfficeCollection, dtype: float64

In [9]:
pt1=pd.pivot_table(data=df,index=['Genre']
,values=['BoxOfficeCollection','YoutubeViews','YoutubeLikes','YoutubeDislikes'])
print(pt1.shape)
pt1.head()

(7, 4)

         BoxOfficeCollection  YoutubeDislikes  YoutubeLikes  YoutubeViews
Genre
 Drama             65.793143      1036.342857   7973.628571  2.672158e+06
Action            103.725714      2360.619048  18340.666667  6.156710e+06
Action              7.366667       744.666667   5573.000000  2.440224e+06
Comedy             46.115000       996.305556   4784.722222  2.536473e+06
Romance            52.841200      1051.720000   7089.640000  3.475303e+06

In [10]:
df[['BoxOfficeCollection','YoutubeViews','YoutubeLikes','YoutubeDislikes']].apply(np.max)

BoxOfficeCollection         735.0
YoutubeViews           23171067.0
YoutubeLikes             101275.0
YoutubeDislikes           11888.0
dtype: float64

In [11]:
res=df['BoxOfficeCollection'].where(df['BoxOfficeCollection']<df['BoxOfficeCollection'].mean(),'High')
res

0       High
1       12.0
2        4.0
3       0.35
4       10.8
       ...
144     30.0
145     32.1
146     12.0
147    11.89
148     High
Name: BoxOfficeCollection, Length: 149, dtype: object

In [12]:
r5=df[['YoutubeDislikes']].apply(lambda x:x.max()-x.min())
print(r5)

YoutubeDislikes    11887
dtype: int64

In [13]:
df1=df.assign(Revised_YoutubeViews=lambda x:df['YoutubeViews']+
0.50*df['YoutubeViews'])
df1.head()

,SlNo,Release Date,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes,Revised_YoutubeViews
0,1,18-Apr-14,2 States,LW,Romance,36,104.00,8576361,26622,2527,12864541.5
1,2,4-Jan-13,Table No. 21,N,Thriller,10,12.00,1087320,1129,137,1630980.0
2,3,18-Jul-14,Amit Sahni Ki List,N,Comedy,10,4.00,572336,586,54,858504.0
3,4,4-Jan-13,Rajdhani Express,N,Drama,7,0.35,42626,86,19,63939.0
4,5,4-Jul-14,Bobby Jasoos,N,Comedy,18,10.80,3113427,4512,1224,4670140.5

In [14]:
df3=df.assign(RevisedYoutubeLikes=lambda x:1.5*df['YoutubeLikes'],
RevisedYoutubeDislikes=lambda x:1.5*df['YoutubeDislikes'])
df3.head()

,SlNo,Release Date,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes,RevisedYoutubeLikes,RevisedYoutubeDislikes
0,1,18-Apr-14,2 States,LW,Romance,36,104.00,8576361,26622,2527,39933.0,3790.5
1,2,4-Jan-13,Table No. 21,N,Thriller,10,12.00,1087320,1129,137,1693.5,205.5
2,3,18-Jul-14,Amit Sahni Ki List,N,Comedy,10,4.00,572336,586,54,879.0,81.0
3,4,4-Jan-13,Rajdhani Express,N,Drama,7,0.35,42626,86,19,129.0,28.5
4,5,4-Jul-14,Bobby Jasoos,N,Comedy,18,10.80,3113427,4512,1224,6768.0,1836.0